<h3>Equipment</h3>
<ul>
  <li *ngFor = 'let item of equipment'>
    
    <span *ngIf = 'itemBeingEdited !== item; else elseBlock'>
      <span (click) = 'edit(item)' class = 'editable-text'>{{item}}</span>
      <button (click) = 'remove(item)'>remove</button>
    </span>

    <ng-template #elseBlock>
      <input #updatedItem (keyup.enter) = 'save(updatedItem.value)' value = '{{item}}'/>
      <button (click) = 'save(item, updatedItem.value)'>save</button>
    </ng-template>

  </li>
</ul>

<input #item type = 'text'/>
<button (click) = 'add(item.value); item.value = ""'>Add</button>